<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('favorites')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="row user-meta">
    <div class="col s3 l12">
        <img class="circle" th:src="@{/images/me.jpg}" alt="avatar" />
    </div>
    <div class="col s9= l12">
        <h2 th:text="${username}">Jane Doe</h2>
        <div class="meta" th:text="|${#lists.size(gifs)} Favorites|"></div>
    </div>
</div>
<div class="gifs container">
    <div class="divider"></div>
    <div class="row">
        <div th:each="gif : ${gifs}" class="col s12 l4">
            <a th:href="@{|/gifs/${gif.id}|}">
                <img th:src="@{|/gifs/${gif.id}.gif|}" />
                <a href="#" th:class="(${gif.favorite}? 'un' : '') + 'mark favorite'"></a>
            </a>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>